{% extends "base.njk" %}

{% block content %}

  {% include "simulateur.njk" %}

  <section class="intro">
    <h2>Votre budget de mariage, clair en 30 secondes</h2>
    <p>
      Notre simulateur gratuit propose deux modes : <b>Express</b> (invités, style, région) et 
      <b>Avancé</b> (budget global à répartir par postes). 
      Les estimations s’appuient sur des moyennes en France.
    </p>
  </section>

  {% include "home-latest.njk" %}

{% endblock %}
