<section class="home-latest">
  <h2>Guides populaires</h2>

  <div class="articles">
    {% for post in collections.post | reverse | slice(0,3) %}
      <article>
        <a href="{{ post.url }}">
          <img src="{{ post.data.image }}" alt="">
          <h3>{{ post.data.title }}</h3>
        </a>
      </article>
    {% endfor %}
  </div>

  <div class="center">
    <a href="/blog" class="btn">Voir tous les articles →</a>
  </div>
</section>
